h1{
    font-size: 50px;
}

.header{

}

.header h1{
background-color: lightblue;
font-size: 35px;
text-align: center;
}

nav{
    background-color: #202020 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: lightblue;
    text-decoration: underline;
    font-size: 25px;
}

main{
    display:flex;
    justify-content: space-evenly;
    border: solid green;
}

.aboutme {
    flex: 1;
    text-align: right;
    border-left: solid black;
}

.aboutme p{
    display: inline-block;
    border: solid red;
}

footer {
    display: flex;
    justify-content: space-evenly;
    border: solid green;
}

.footer-links{
    flex: 1;
    text-align: center;
    border-left: solid black;
    justify-content: space-evenly;
}

.footer-links ul li{
    display: flex;
    align-items:center;
    list-style: none;
    display: inline-block;
   border: solid red;
   
}

.footer-links ul li a{

}