h1{
    font-size: 40px;
}

p{
    font-size:larger ;
}
nav{
    height: 10em;
    width: 100%;
    background-image: url(../assets/images/Bricks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header h1{
background-color: lightblue;
font-size: 75px;
text-align: center;
}

.header{
    background-color: #202020 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: lightblue;
    text-decoration: underline;
    font-size: 40px;
}

main{
    display:flex;
    justify-content: space-evenly;

}

.card1{
    display: flex;
    flex-wrap: wrap;
}
.card1 .aboutme{
    flex: 1 0 61%;
    margin: 2px;
}

.card1 .aboutme p{
    flex-basis: 40%;
    border-left: solid black;
    padding-left: 25px;
}


.aboutme {
    padding-left: 15px;
}


footer {
    display: flex;
    justify-content: space-evenly;
   
}

.card3 footer h1{
    padding-right: 45px;
}
.footer-links{
    flex: 1;
    text-align: center;
    border-left: solid black;
    justify-content: space-evenly;
}

.footer-links ul li{
    display: flex;
    align-items:center;
    list-style: none;
    display: inline;
   border: solid red;
   
}

.footer-links ul li a{

}